html,body {
	width: 100%;
	height: 100%;
	padding: 0;
	background: #fff;
	margin: 0;
	font-family: arial
}

a {
	text-decoration: none
}

.container {
	width: 262px;
	margin: 0 auto;
	padding-top: 200px;
}

#bar {
	width: 100%;
	height: 0% padding:15px 0;
	background: url(../images/bar.png) repeat-x;
} /*edit*/
#container {
	width: 960px;
	margin: 0 auto;
}

/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
	position: relative;
	float: right;
	font-size: 12px;
}

/* Login Button */
#loginButton {
	display: inline-block;
	float: right;
	margin-right: 1.5%;
	/*background:#d2e0ea url(../images/buttonbg.png) repeat-x;*/
	/* border:1px solid #899caa;*/
	/*border-radius:3px;*/
	/* -moz-border-radius:3px;*/
	position: relative;
	z-index: 30;
	cursor: pointer;
	height: 100%;
}

/* Login Button Text */
#loginButton span { /*color:#445058;*/
	font-size: 14px;
	font-weight: bold;
	/*text-shadow:1px 1px #fff;*/
	padding: 12px 12px 9px 10px;
	/*background:url(../images/loginArrow.png) no-repeat 53px 7px;*/
	display: block
}

#loginButton:hover {
	background-color: #666;
	/*background:url(../images/buttonbgHover.png) repeat-x;*/
}

/* Login Box */
#loginBox {
	margin-right: 2%;
	position: absolute;
	top: 24.3%;
	right: 242px;
	display: none;
	z-index: 29;
}

/* If the Login Button has been clicked */
#loginButton.active {
	border-radius: 3px 3px 0 0;
}

#loginButton.active span {
	background-position: 53px -76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
	position: absolute;
	width: 100%;
	height: 1px;
	/*background:#d2e0ea;*/
	bottom: -1px;
}

/* Login Form */
#loginForm {
	width: 248px;
	border: 0px solid #899caa;
	border-radius: 3px 0 3px 3px;
	-moz-border-radius: 3px 0 3px 3px;
	margin-top: -1px;
	background: #333;
	padding: 6px;
}

#loginForm fieldset {
	margin: 0 0 12px 0;
	display: block;
	border: 0;
	padding: 0;
}

fieldset#body {
	background: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 10px 13px;
	margin: 0;
}

#loginForm #checkbox {
	width: auto;
	margin: 1px 9px 0 0;
	float: left;
	padding: 0;
	border: 0;
	*margin: -3px 9px 0 0; /* IE7 Fix */
}

#body label {
	color: #3a454d;
	margin: 9px 0 0 0;
	display: block;
	float: left;
}

#loginForm #body fieldset label {
	display: block;
	float: none;
	margin: 0 0 6px 0;
}

/* Default Input */
#loginForm input {
	width: 92%;
	border: 1px solid #899caa;
	border-radius: 3px;
	-moz-border-radius: 3px;
	color: #3a454d;
	font-weight: bold;
	padding: 8px 8px;
	box-shadow: inset 0px 1px 3px #bbb;
	-webkit-box-shadow: inset 0px 1px 3px #bbb;
	-moz-box-shadow: inset 0px 1px 3px #bbb;
	font-size: 12px;
}

/* Sign In Button */
#loginForm #login {
	width: auto;
	background: #339cdf url(../images/loginbuttonbg.png) repeat-x;
	color: #fff;
	border: 1px solid #339cdf;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 37%;
	cursor: pointer;
	*padding: 7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
	text-align: center;
	display: block;
	padding: 7px 0 4px 0;
}

#loginForm span a {
	color: #3a454d;
	font-size: 12px;
}

input:focus {
	outline: none;
}

/*css for menu navigation bar starts here*/
#menu {
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0;
	padding: 0;
	list-style-type: none;
	background-color: #eee;
	font-size: 13px;
	height: 40px;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #ccc;
}

#menu li {
	float: left;
	margin: 0;
}

#menu li a {
	text-decoration: none;
	display: block;
	padding: 0 20px;
	line-height: 40px;
	color: #666;
}

#menu li a:hover,#menu li.active a {
	background-color: #f5f5f5;
	border-bottom: 2px solid #DDD;
	color: #999;
}
/*#menu_wrapper ul {margin-left: 12px;}*/
#menu_wrapper {
	padding: 0 0 0 0;
	background: url(images/grey.png) no-repeat right;
}

#menu_wrapper div {
	float: left;
	height: 44px;
	width: 12px;
	background: url(images/grey.png) no-repeat left;
}

/* Black Menu */
#menu_wrapper.black ul {
	border-top: 2px solid #333;
	border-bottom: 2px solid #000;
	background: #333;
}

#menu_wrapper.black a {
	color: #CCC;
}

#menu_wrapper.black li a:hover,#menu_wrapper.black li.active a {
	color: #CCC;
	background: #666;
	border-bottom: 2px solid #444;
}
/*#menu_wrapper.black {background: url(images/black.png) ;}
			#menu_wrapper.black div {background: url(images/black.png) ;}*/

/*css for menu navigation bar ends here*/
/* #url_design 
{
	border-radius: 5px;
	margin-left: 30%;
	margin-top: 2%;
	font-size: 24px;
	border: 2px solid #006699;
	height: 30px;
	width: 40%;
}

#button_design
{
	height: 35px;
	width: 70px;
	font-size:15px;
} */

/* #dvLoading
{
   background:#000 url('../images/lo.gif') no-repeat center center; 
   height: 50px;
   width: 50px;
   position: fixed;
   left: 45%;
   top: 75%;
   margin: -25px 0 0 -25px;
   visibility: hidden;
} */
.design
{
	border-radius: 5px;
	font-size:24px;
	width:300px;
	height: 30px;
	border: 2px solid #59BCBC
}

#JoinForm
{
	/* border: 4px solid gray; */
	margin: 2% 20% 5% 20%;
}


#Form
{
	border: 4px solid blue;
	margin: 10% 4%;
	padding: 10%;
	border: 2px solid gray;
	border-radius: 2%;
}


#gotoSource
{
	border: 5% 10%;
	padding: 2% 4%;
	border: 2px solid black;
}


#loggedUserMail
{
float: right;
color:blue;
margin-right: 2%;
text-decoration:underline;
}




.logo{
	font-family:Corbel,'Myriad Pro',Arial, Helvetica, sans-serif;
	text-indent:-9999px;
	overflow:hidden;
	height:90px;
	margin-top:12.3%;
	background:url("../images/Logo3.png") no-repeat center top;
}


#logout
{
	float: right;
	margin-right: 2%;
}

#footer {
	background: #050505 url(../images/img01.jpg) repeat;
	height: 80px;
	margin-top: 25%;
	margin-bottom:0%;
	padding: 50px 0 15px 0;
}

#gitInfo
{
	border-radius: 5px;
	/* height: 60%; */
	width: 20%;
	background-color: #D6D6C2;
	border: 3px solid #A34775;
	margin: 10% 0 0 10%;
	padding: 4%;
	
	
}

#gitCrawlerInfo
{
	border-radius: 5px;
	/* height: 60%; */
	width: 20%;
	background-color: #D6D6C2;
	border: 3px solid #A34775;
	margin-left: 10%;
	margin-top: 10%;
	padding: 4%;
	
}

.info
{
	display: inline-block; 
}

#aboutus
{
	border-radius: 5px;
	width: 30%;
	background-color: #D6D6C2;
	border: 3px solid #A34775;
	margin-top: 10%;
	margin-left: 30%;
	padding: 4%;
	
}

#Right_Wrong{
	
	
	
}

#emailRightWrong
{
	
}
